---
pagination:
  data: directus.blog

---
{% assign state_ipxq-5918_pagination = pagination %}
{% assign state_ipxq-5918_items = pagination.items %}
{% assign state_ipxq-5918_pages = pagination.pages %}<!DOCTYPE html>
<html lang="">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/index.css" />


<title></title>
<link rel="icon" href="" />
<meta name="description" property="description" content=""/>
<meta name="og:title" property="og:title" content=""/>
<meta name="og:description" property="og:description" content=""/>
<meta name="og:image" property="og:image" content=""/>
</head>
<body id="ipxq">{% liquid
    assign var_ih31_7 = state_ih31-8432___data
    assign state_ih31-8432_ih31-pw51om0mcxb = var_ih31_7
  %}{% liquid
    assign var_ih31_6 = directus.blog
    %}
    {% for state_ih31-8432___data in var_ih31_6 %}
  {% liquid
    assign var_ih31_5 = state_ih31-8432_ih31-pw51om0mcxb.id
    %}
    {% if var_ih31_5 and var_ih31_5 != blank and var_ih31_5 != empty %}
  <div class="">{% liquid
    assign var_ih31_4 = state_ih31-8432___data.label
    echo var_ih31_4
  %}</div>{% endif %}{% endfor %}</body>
</html>